menuconfig PKG_USING_LVGL
    bool "LVGL (official): Light and Versatile Graphics Library"
    default n
    select USING_DISPLAY_MANAGER

    if PKG_USING_LVGL
        config PKG_LVGL_THREAD_STACK_SIZE
        int "Thread stack size"
        default 8192

        config PKG_LVGL_THREAD_PRIO
        int "Thread priority"
        default 21

        config PKG_LVGL_USING_EXAMPLES
        bool "Using Examples"
        default n

        config PKG_LVGL_USING_DEMOS
        bool "Using demos"
        default n
    endif
